<!DOCTYPE html>
<html lang="pt_BR">
    <head>
        <title>Só Led</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css.css">
        <script type="text/javascript" src="javascript.js"></script>
    </head>
    <body>
        <div class="container">
                <h1>Clique para acender/apagar :)</h1>
                <img id="vagalume" src="vagalume1.jpg" onclick="trocar();">
        </div>
    </body>
</html>